%clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

%focus{
	&:focus{
		background-color: #b4e7fc;
	};
}

%transparent-border{
    border-top: 1px solid rgba(0,0,0, 0.25);
}
.module-gamesummary{
    button.highlights-toggle{
        padding: 0 4em 0 0;
        box-shadow: none;
        background:transparent;
        color: inherit;
        font-weight: 400;
        cursor: pointer;
        position: relative;
        font-size: 100%;
        float: right;

        &:hover{
            -webkit-transform: translate(0px,0px);
            transform: tranlsate(0px,0px);
        }

        span.switch{
            height: 1.5em;
            width: 3em;
            background-image: url('../img/switch-off.svg');
            background-size: cover;
            position: absolute;
            top: 50%;
            right: 0.5em;
            -webkit-transform: translateY(-50%);
            transform: tranlsateY(-50%);
        }

        &.active span.switch{
             background-image: url('../img/switch-on.svg');
        }

        span.button-text{
            padding: 15px 0;
            display: inline-block;
        }
        
    }

    ul{
        padding: 0;
    }
	ul, li{
        list-style: none;
    }

    p{
        margin-bottom: 0.5em;
    }
    li{
        padding: 15px 0;
        width: 100%;
        display: table;
       @extend %transparent-border;

        .fb-share{
            @extend %clearfix;

        }
    }
    
    .highlight{
        background-color: rgba(0,0,0,0.15);
    }

    table {
        display: none;
        tr{
            @extend %transparent-border;

            &.video-event{
                cursor: pointer;
                @extend %focus;
            }
             &.video-player {
                display: none;
                border-top: none;      
                td{
                  padding: 0 15px 15px 15px;    
                }
            }
            &.show-video{
                display: table-row;
            }
            
            td{
                padding: 15px 0;

                &.time{
                    text-align: right;
                }
                &.score{
                    text-align: center;
                    width:3.5em;
                }
                > div:first-child{
                    padding-bottom: 15px;
                }
                
                &.event-icon {
                    padding: 17px 15px 0 0 ;
                    width: 1.5em;
                    text-align: center;

                    img{
                        height: 1em;
                    }

                }
                &.multiple-events{
                    img{
                        margin-right: 15px;

                    }
                }

                figure.video{
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }
    
    time, .multiple-events, li > .event{
        display: table-cell;
        vertical-align: top;
    }
    time{
        width: 3em;
        text-align: right;
    }
    time, .event, .eventimg, figure.video{
        padding-right: 15px;
    }

    figure.video{
        width: 33%;
        float: left;
    }

    .eventimg{
        float: left;
        width: 120px;
        max-width: 33%;
    }

    .font-extrabold{
        font-family: 'flama_semi_condensed', 'flama', sans-serif;
        font-weight: 900;
    }
    strong > img,
    h3 > img{
        height: 0.75em;
        display: inline-block;
        //float: left;
        
    }

    .article-figure{
        margin-bottom: 0;
    }

    .event.plain{
       padding-top: 0.15em;
    }


    //responsive rules
    &.tiny,
    &.narrow{
        figure.video{
            width: 100%;
        }
        .multiple-events .eventimg{
            display: none;
        }
        .event.plain{
           padding-top: 0em;
        }
    }

    &.tiny{
        .eventimg{
            display: none;
        }

        .c4{
            width: 100%;
        }
    }
}